<div class="row justify-content-center">
	<div class="col-lg-10 p-2 m-2 border rounded lookAhead" data-id="{{dataValues.id}}">
		
		<p>Broker: {{dataValues.broker}}</p>
		<p>Driver: {{Driver.dataValues.driverName}}</p>
		<p>Load Number: {{dataValues.loadNum}}</p>
		<p>Due Date: {{dataValues.dueDate}}</p>

	</div>
</div>

